{% extends 'base.html.twig' %}

{% block title %}{{ app.user.email }}{% endblock %}
{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Hi {{ app.user.firstName|capitalize }} {{ app.user.lastName|capitalize  }}</h1>
    <a href = "{{ path("allusers")}}"class="btn btn-outline-dark" > View users</a>
    <hr>
    <a href = "{{ path("viewproducts")}}"class="btn btn-outline-dark" > View products</a>

{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}