{% extends 'base.html.twig' %}
{% block title %}View Basket{% endblock %}

{% block body %}
    <table id = "basket" class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Image</th>
        <th>Product Name</th>
        <th>Product Brand</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    {% set grandTotal =(grandTotal | default(0)) %}
{% for product in products %}
    {% set counter = ( counter | default(-1) ) + 1 %}
    <tr>
        <td><img class="card-img-top" src="{{ asset('images/') ~product.image }}" alt="" style="height:50px; width:50px"></td>
        <td>{{product.name}}</td>
        <td>{{product.brand }}</td>
        <td>{{product.description}}</td>
        <td class = "price"><b>{{product.price}}</b></td>
        <td>{{quantities[counter]}}</td>
        <td class = "product">{{ product.price * quantities[counter] }}</td>
        <td><a href="{{ path('deleteBasketRow', {'id': product.id}) }}" class = "btn btn-danger"  data-id="{{product.id}}">Remove</a></td>
    </tr>
    {% set grandTotal = (grandTotal) +  product.price * quantities[counter] %}

{% endfor %}
    <tr>
        <td colspan='6'>Total</td>
        <td id='total'></td>
    </tr>
    </tbody>
    </table>

    {% if products %}
    <a href ="{{ path('purchase') }}" class = "btn btn-dark">Buy now</a>
    {% endif %}

{% endblock %}

{% block javascripts %}
<script>

    function getTotal(){
        let total = 0;
        $('.product').each(function(){
            total += parseFloat(this.innerHTML)
        });
        $('#total').text(total);
    }

    getTotal();

    $('.quantity').change(function(){
        const parent = $(this).parents('tr');
        const price = parseFloat($('.price', parent).children().html());
        const sum = $('.product', parent);
        const value = parseInt(this.value || 0) * price;
        sum.text(value);
        getTotal();
    })

    const products = document.getElementById('products');
    if(products){
        products.addEventListener('click', e => {
            if (e.target.className === 'btn btn-danger delete-product'){
                if(confirm('Are you sure?')){
                    const id = e.target.getAttribute('data-id');
                    alert(id);
                    fetch(`/basket/delete/${id}`,
                        {method: 'DELETE'}).then(res => window.location.reload());
                }
            }
        });
    }
</script>

{% endblock %}


